<ion-content class="ion-text-center ion-padding">

  <img src="assets/logo.png" alt="logo" class="logo-img" style="margin:80px 50px"> 
  <br/><br/> <ion-button expand="full"color="primary" (click)="nextpage()"><ion-icon slot="start" name="logo-google"></ion-icon>  log in with google</ion-button>
  <ion-button expand="full" color="primary" (click)="nextpage()"><ion-icon slot="icon-only"name="logo-facebook"></ion-icon>log in with facebook</ion-button>
  <ion-button expand="full" color="primary" (click)="nextpage()"><ion-icon slot="icon-only"name="logo-github"></ion-icon>log in iwth github</ion-button> 
 <ion-button expand="full" color="primary" (click)="nextpage()"><ion-icon slot="icon-only"name="logo-skype"></ion-icon>log in with skype</ion-button>
  

</ion-content>
