<ion-content>
  <img src="assets/logo.png" alt="logo" class="logo-img" style="margin:80px 80px"> 
    <firebase-ui></firebase-ui>
  <div *ngIf="afAuth.auth.currentUser">
      {{nextpage()}}
  </div>
  <h1 *ngIf="afAuth.auth.currentUser">
    
    Welcome {{afAuth.auth.currentUser.displayName }}
  <ion-avatar>
  <ion-img [src]="afAuth.auth.currentUser.photoURL"></ion-img>
    </ion-avatar>

</h1>
  <ion-button *ngIf="afAuth.auth.currentUser"(click)="signOut()">Sign Out</ion-button>
</ion-content>
