.register-list {
    margin-top: 30px;
  }
  
  .signUp-btn {
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  
  .logo-img {
    width: 200px;
    height: 200px;
  }
  
  .error {
    color: var(--ion-color-danger);
  }